{% load static %}
{% load i18n %}
{% load l10n %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div>Hello</div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <h2> "Stand Blog" <em>.</em></h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home' %}"> {% translate "Home"%}  
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'article-list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'article-list' %}">{% translate "All Articles" %}</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'about-us' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'about' %}">{% translate "About Us" %}</a>
                        </li>

                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="post-details.html">Post Details</a>
                        </li> {% endcomment %}
                        <li class="nav-item {% if request.resolver_match.url_name == 'contact-us' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'contact' %}">{% translate "Contact Us" %}</a>
                        </li>
                        <li class="nav-item">
                            
                            {% if request.user.is_authenticated %}
                            <li class="nav-item mt-1">
                                {% if user.profile.image%}
                                <img src="{{user.profile.image.url}}" width="30px" height="30px" style="border-radius: 100%;" alt="">
                                {% else %}
                                <img src="{% static 'images/icons/profile.jpg' %}" width="30px" height="30px" style="border-radius: 100%;" alt="">
                                {% endif %}
                            </li>
                            <a class="nav-link" href="#"> {{request.user.username}} </a>
                            <li class="nav-item">
                                <a class="nav-link badge badge-danger mt-2" href="{% url 'account:logout' %}"> {% trans "Log Out" %} </a>
                            </li>
                            {% else %}
                            <a class="nav-link" href=" {% url 'account:login' %}"> {% trans "Login" %} </a>  
                            <li class="nav-item">
                                <a class="nav-link" href=" {% url 'account:signup' %}"> {% trans "Sign Up" %} </a>
                            </li>
                            {% endif %}
                                

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
 